/* here just some quick rules
so that interface looks good */ 

.life {
    width: 100%;
    height: 60%;
    margin: none;
    display: flex;
    flex-direction: column;
  }
  
  .cell {
    font-size: 2000%;
    line-height: 0px;
    width: 3.6%;
    height: inherit;
    margin: 0;
    padding: 0;
    float: left;
  }
  
  .cell{
    color: rgb(255,0,0);
  }
  /*
  .cell[pop = '10'] {
    color: #ffffff;
  }

  .cell[pop ='5']{
    color: blue;
  }
  
  .cell[pop ='0'] {
    color: #0687f5;
  }
  */
  
  .cell-row {
    display: flex;
    flex-direction: row;
    height: 10%;
    margin: 0;
  }
  
  .next {
    display: none;
  }
  
  body {
    font-family: sans-serif;
    display: fixed;
    flex-direction: row;
  }

  #map{
    display: block;
    margin-top: 5%;
    width: 100%;
    height: 100vh;
    border: 2px solid red;
    position: fixed;
  }


  #graphs{
    border: 4px solid blue;
    position: fixed;
    left: 80%;
  }

  #functions{
    border: 5px solid green;
    position:fixed;
    
  }